mlflow==2.12.1
astunparse==1.6.3
cffi==1.16.0
cloudpickle==2.2.1
defusedxml==0.7.1
numpy==1.26.4
optree==0.11.0
packaging==24.0
pandas==2.2.2
pyyaml==6.0.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
matplotlib==3.8.4
gradio
gradio-client